/* Feuille de styles de la version HTML5 pour terminaux fixes */
/* Modifié le 06/06/2016 par Killian BOUTIN */

/* ----------------- Mise en forme de la structure générale -------------------- */

* {
  margin: 0; padding: 0;
}

/* style de la division id="page" */
div#page {
	/* largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche */
	width: 800px;
	margin: 0 auto;
	padding: 0;
	border: #000 1px solid; 
	text-align: left;
	
	/* coins arrondis avec un rayon de 15 pixels */
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	
	/* fond avec un dégradé de couleur (blanc en haut, gris léger en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(210, 210, 210));
}

/* style de la balise <body> */
body {
	/* police, marges nulles et padding de 30 pixels en haut */
	font: 0.8em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 10px 0 0 0;
	
	/* fond avec un dégradé de couleur (blanc en haut, gris en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(210, 210, 210));
	background-attachment: fixed;
}

/* style de la page HTML */
html {
	/* la page doit occuper toute la hauteur du navigateur */
	height: 100%;
}

/* style de la division id="footer" */
div#footer {
	/* hauteur, padding, marge en haut, couleur d'arrière-plan */
	height: 36px;
	padding: 0; 
	margin: 20px 0 0 0;
	background-color: #00A3E4;
	
	/* coins arrondis en bas uniquement */
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-o-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	-khtml-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

/* style du texte de la division id="footer" */
div#footer p {
	padding: 7px 0 0 0;
	text-align: center;
	font-weight: bold; 
	font-size: 1.2em;
	color: #fff; 	
}

/* style de la division id="content" */
div#content {
	padding: 0px 40px 0 40px;
	margin: 0;
}

/* ----------------- Mise en forme du menu horizontal -------------------- */

/* style de la division id="header" */
div#header {
	padding: 0; 
	margin: 0;
}

/* style de la division id="header-menu" */
div#header-menu {
	/* hauteur, padding, marge, couleur d'arrière-plan */
	height: 36px;
	padding: 0;
	margin: 0;
	background: #00A3E4;
	
	/* coins arrondis en haut uniquement */
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-khtml-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

/* style de la liste <ul id="menu-horizontal"> */
ul#menu-horizontal {
	padding: 0;
	margin: 0;
	height: 36px;
	list-style-type: none; 
}

/* style des éléments <li> de la liste <ul id="menu-horizontal"> */
ul#menu-horizontal li {
	padding: 0;
	margin: 0;
	height: 36px;
	float: left; 
	text-align: center
}

/* style des liens hypertextes contenus dans les éléments <li> de la liste <ul id="menu-horizontal"> */
ul#menu-horizontal li a {
	border-right: #fff 2px solid; 
	display: block; 
	font-weight: bold; 
	font-size: 1.2em; 
	width: 200px; 
	color: #fff; 
	line-height: 36px; 
	text-decoration: none
}

/* modification de couleur au survol de la souris */
ul#menu-horizontal li a:hover {
	background: #0b4c8e;
}

/* ajout d'un coin arrondi (en haut et à gauche) au premier lien uniquement lors du survol de la souris */
ul#menu-horizontal li:first-child a:hover {
	-moz-border-radius: 15px 0 0 0;
	-webkit-border-radius: 15px 0 0 0;
	-o-border-radius: 15px 0 0 0;
	-ms-border-radius: 15px 0 0 0;
	-khtml-border-radius: 15px 0 0 0;
	border-radius: 15px 0 0 0;
}

/* ----------------- Positionnement des images -------------------- */

/* style de la division id="header-logos" */
div#header-logos {
	padding: 10px 0 0 0; 
	margin: 0;
}

/* style de l'image id="logo-gauche" */
img#logo-gauche {
	padding: 0 40px 0 40px;	
	width: 200px;
	height: 70px;
}

/* style de l'image id="logo-droite" */
img#logo-droite {
	padding: 0 40px 0 40px;	
	width: 400px;
	height: 70px;
}

/* ----------------- Mise en forme des titres et paragraphes -------------------- */

/* style des balises <h2> de la division <div id="content"> */
div#content h2 {
	/* police */
	font: 1.5em Arial, Helvetica, sans-serif;
	font-weight: bold;
	
	/* marge supérieure */
	margin-top: 20px;
	margin-bottom: 15px;
	
	/* margin des côtés */
	margin-left: 35px;
	margin-right: 35px;
	
	/* padding à gauche pour pouvoir y placer une image */
	padding-left: 35px;
	
	/* taille et couleur de la police, et hauteur de ligne */
	color: #0b4c8e;
	line-height: 25px;
	
	/* ajout d'une image à gauche */
	background: url(images/puce.png) no-repeat left bottom;
	
	/* ajout d'une bordure au-dessus et en-dessous */
	border-top: #0b4c8e 1px solid;
	border-bottom: #0b4c8e 1px solid;
}

/* style des balises <h3> de la division <div id="content"> */
div#content h3 {
	/* marges */
	margin: 10px 0 15px 50px;
	
	/* taille et couleur de la police */
	font: 1.3em Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0b4c8e;
}


/* ----------------- Mise en forme du menu vertical -------------------- */

/* transformation en boutons des liens hypertextes <a> avec l'attribut class="gros-bouton-menu" */
a.gros-bouton-menu {
	/* police, couleur et alignement du texte, style du lien */
	font: 1.3em Arial, Helvetica, sans-serif;
	color: #0b4c8e;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	/* ombre portée du texte du bouton */
	text-shadow: 0 1px 0 #fff;
		
	/* dimensions, margin, padding, type d'affichage, bordure */
	width: 350px;
	margin: 20px auto;
	padding: 8px;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	/* coins arrondis */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	
	/* fond avec un dégradé de couleur (blanc en haut, gris en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(220, 220, 220));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(220, 220, 220)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(220, 220, 220));
	
	/* ombre portée du bouton */
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* modification au survol des liens hypertextes <a> avec l'attribut class="gros-bouton-menu" */
a.gros-bouton-menu:hover {
	/* fond avec un dégradé de couleur (blanc en haut, gris plus soutenu en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(200, 200, 200)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

/* transformation en boutons des liens hypertextes <a> avec l'attribut class="petit-bouton-menu" */
a.petit-bouton-menu {
	/* police, couleur et alignement du texte, style du lien */
	font: 1.1em Arial, Helvetica, sans-serif;
	color: #0b4c8e;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	/* ombre portée du texte du bouton */
	text-shadow: 0 1px 0 #fff;
		
	/* dimensions, margin, padding, type d'affichage, bordure */
	width: 450px;
	margin: 8px auto;
	padding: 3px;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	/* coins arrondis */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	
	/* fond avec un dégradé de couleur (blanc en haut, gris en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(220, 220, 220));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(220, 220, 220)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(220, 220, 220));
	
	/* ombre portée du bouton */
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* modification au survol des liens hypertextes <a> avec l'attribut class="petit-bouton-menu" */
a.petit-bouton-menu:hover {
	/* fond avec un dégradé de couleur (blanc en haut, gris plus soutenu en bas) */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(200, 200, 200)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

